
// 颜色定义规范
$text-color-6 = #666;
$text-color-3 = #333;
$text-color-9 = #999;
$text-color-4 = #444;
$border-color = #d9d9d9 // 边框颜色
$color-lord-hue = #3F98F7  //主色调
$color-bg = #F9F9F9  //页面背景底色
$color-yellow = #ffb73c;  // 辅助色
$color-error = #FF3B3B;
